.box {
    background-color: rgba(54, 236, 54, 0.681);
    color: white;
}

.heading-3 {
    color: blue !important;
}

.button {
    height: 40px;
    min-width: 100px;
    background-color: blue;
    color: white;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-radius: 8px;

}

.button:hover {
    background-color: red;
}

.button:active {
    background-color: green;
}

.button:focus {
    background-color: aqua;
}